<div class="container">
   
    <div class="row mb-2">
        <div class="col-md-6">
            <div
                class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success">Writer</strong>
                    <h5 class="mb-0">Andrade, Carlos Drummont de</h5>
                    <p class="card-text mb-auto">
                        Carlos Drummond de Andrade foi um poeta, contista e cronista brasileiro, considerado por muitos...
                    </p>
                    <!-- <a href="#" class="stretched-link">Continue reading</a> -->
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="../assets/images/carlos_drummond_de_andrade.jpg" alt="" class="img-authors">
                </div>
            </div>
        </div>
        
    </div>

</div>
